<a href="https://colab.research.google.com/github/ShilpaVasista/BCS358D/blob/main/Python%20Basics%20-%20Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Welcome to the Course on Data Visualization with Python

##                     Variables

In Python, variables are used to store data values. Variable is a named storage location in the memory for holding a piece of information.

Variable names are case-sensitive (e.g., myVar and myvar are different).

Variable names must start with a letter (a-z, A-Z) or an underscore (_).

Variable names can contain letters, numbers, and underscores.

Variables should not contain spaces and special characters.

Variable naming has 2 widely used conventions in Python:
  - camelCaseVariable
  - snake_case_variable

Example: age = 25

In [ ]:
# Example 1: age = 25
age=25
myVar = 20
myvar = 17
var_score = 100
print("Age=",age)
print("myVar=",myVar)
print("myvar=",myvar)
print("var_score=",var_score)

Age= 25
myVar= 20
myvar= 17
var_score= 100

##  Data Types

Python has several built-in data types:

int: Integer data type (e.g., 42, -10).

float: Floating-point data type (e.g., 3.14, -0.001).

str: String data type (e.g., "Hello, Python").

bool: Boolean data type (True or False).

In [ ]:
int_x = -10
float_y = 3.14
str1 = "hello, Python"
boolean_b = True
print("Integer x =",int_x,"\nFloat y =",float_y,"\nString str1 = ",str1,"\nBoolean b =",boolean_b)

Integer x = -10
Float y = 3.14
String str1 =  hello, Python
Boolean b = True

# Variables and Assignment Exercises
Do the below in a .py file in Pycharm
- Create a vaiable by name int_i and assign it the value 3
- Create another variable float_f and assign it the value 2.123
- Create a third variable bool_f and assign it the value "False"
- Reassign a value 5 to int_i

# Comments
- Comments are annotations in the source code that are ignored by the interpreter during execution.
- They are used to provide explanations, documentation, or notes within the code.
- Comments are helpful for making the code more readable and understandable, both for the original programmer and for others who might read or maintain the code later.
- There are two types of comments in Python
  - Single-Line Comments:
    - Single-line comments are created using the # symbol.
    - Everything following the # on that line is treated as a comment.
  - Multiline Comments:
    - Python does not have a specific syntax for multi-line comments, but multi-line strings (docstrings) are often used for this purpose.
    - Docstrings are enclosed in triple quotes (''' or """) and are used to document functions, classes, and modules.
    - While they are not technically comments, they serve a similar purpose in providing documentation.
    - Docstrings are also used to provide documentation for functions and modules, and they can be accessed using the help() function or tools like Sphinx for generating documentation.

In [ ]:
'''
This is a multi-line comment using a docstring.
It can span multiple lines.
'''
print("Hello, World!")

Hello, World!

## Arithmetic Operations
Python supports various arithmetic operations:

Addition (+): Adds two numbers.

Subtraction (-): Subtracts the second number from the first.

Multiplication (*): Multiplies two numbers.

Division (/): Divides the first number by the second (results in a float).

Integer Division (//): Divides and truncates to an integer.

Modulus (%): Returns the remainder of division.

Exponentiation ():** Raises the first number to the power of the second.

In [ ]:
# Examples
x = 10
y = 3

# Addition
addition_result = x + y  # 13
print("Sum = ",addition_result)

# Subtraction
subtraction_result = x - y  # 7
print("Difference = ",subtraction_result)

# Multiplication
multiplication_result = x * y  # 30
print("Product = ",multiplication_result)

# Division
division_result = x / y  # 3.3333...
print("Quoteint = ",division_result)

# Floor Division: Returns only the integer portion of the division result
int_division_result = x // y  # 3
print("Integer Quoteint = ",int_division_result)

# Modulo Operation: Returns the remainder
modulus_result = x % y  # 1
print("Remainder = ",modulus_result)

# Exponentiation
exponentiation_result = x ** y  # 1000
print("Exp result = ",exponentiation_result)

Sum =  13
Difference =  7
Product =  30
Quoteint =  3.3333333333333335
Integer Quoteint =  3
Remainder =  1
Exp result =  1000

# Assignment Operators
  - The basic assignment operator is the equal sign (=), but there are also compound assignment operators that combine the assignment operation with another operation.
    - Addition Assignment (+=)
    - Subtraction Assignment (-=)
    - Multiplication Assignment (*=)
    - Division Assignment (/=)
    - Floor Division Assignment (//=)
    - Modulus Assignment (%=)
    - Exponentiation Assignment (**=)

In [ ]:
x += 5  # Equivalent to x = x + 5
x -= 3  # Equivalent to x = x - 3
x *= 2  # Equivalent to x = x * 2
x /= 4  # Equivalent to x = x / 4
x //= 3  # Equivalent to x = x // 3
x %= 2  # Equivalent to x = x % 2
x **= 3  # Equivalent to x = x ** 3

# Operator Precedence
| Precedence | Operator(s)                          | Description                      |
|------------|--------------------------------------|----------------------------------|
| 1          | `()`                                 | Parentheses                      |
| 2          | `f(args...)`, `x[index]`, `x.attr`    | Function calls, Slicing, Attributes |
| 3          | `**`                                 | Exponentiation                   |
| 4          | `+x`, `-x`, `~x`                     | Unary plus, Unary minus, Bitwise NOT |
| 5          | `*`, `/`, `//`, `%`                  | Multiplication, Division, Floor division, Modulus |
| 6          | `+`, `-`                             | Addition, Subtraction            |
| 7          | `<<`, `>>`                           | Bitwise shift operators          |
| 8          | `&`                                  | Bitwise AND                      |
| 9          | `^`                                  | Bitwise XOR                      |
| 10         | `|`                                  | Bitwise OR                       |
| 11         | `in`, `not in`, `is`, `is not`, `<`, `<=`, `>`, `>=`, `!=`, `==` | Comparison operators |
| 12         | `not x`                              | Logical NOT                      |
| 13         | `and`                                | Logical AND                      |
| 14         | `or`                                 | Logical OR                       |
| 15         | `if-else`                            | Conditional expression           |
| 16         | `lambda`                             | Lambda expression                |
| 17         | `:=`                                 | Assignment expression (walrus operator) |
| 18         | `=`                                  | Assignment                       |
| 19         | `yield`, `yield from`                | Yield expressions                |
| 20         | `if`, `elif`, `else`                 | Conditional statements           |
| 21         | `for`, `while`                       | Loops                            |
| 22         | `or`                                 | Boolean OR                       |
| 23         | `and`                                | Boolean AND                      |
| 24         | `not`                                | Boolean NOT                      |

Expression Evaluation

 Example:

(5 + 2) * 3 ** 2 - 4 % 2 // 1 + 3
- Step 1: 7 * 3 ** 2 - 4 % 2 // 1 + 3
- Step 2: 7 * 9 - 4 % 2 // 1 + 3
- Step 3: 63 - 0 + 3
- Step 4: 66

In [ ]:
result_a = 2 ** 4 - 7 * 3 + 15 % 4 // 2
result_b = 8 - 4 * 2 ** 2 + 5 % 3 // -1
result_c = 3 ** 2 - 1 + 7 * 4 % 2 // 2
result_d = 6 // 2 + 4 * 3 ** 2 - 5 % 2

# print()
- In Python, the print() function is used to display output to the console.
- You can use it to print values, variables, or any expression you want to see the result of.
- Here are some examples of using the print() function

In [ ]:
# Print a string
print("Hello, World!")

# Print Variables
name = "John"
age = 25
print("Name:", name)
print("Age:", age)

#Print Expressions
x = 5
y = 10
print("Sum:", x + y)

#Multiple Arguments
a = 3
b = 7
c = 12
print("Values:", a, b, c)

#Printing on Multiple lines
print("Line 1")
print("Line 2")

#Print() can be used to insert blank lines
print("Line 3")
print()
print("a blank inserted and this is Line 4")

Hello, World!
Name: John
Age: 25
Sum: 15
Values: 3 7 12
Line 1
Line 2
Line 3

a blank inserted and this is Line 4

## Strings

Strings are sequences of characters enclosed in single (') or double (") quotes.

You can concatenate strings using the + operator.

Strings are indexed from 0 (e.g., "Hello"[0] returns 'H').

String slicing allows you to extract substrings (e.g., "Hello"[1:4] returns "ell").

In [ ]:
# Define two strings
str1 = "Hello"
str2 = "World"

# Concatenate strings using the + operator
concatenated_str = str1 + str2
concatenated_str1 = str1 + ", " + str2
print("Concatenated Strings are:")
print(concatenated_str)
print(concatenated_str1)

# Access individual characters in a string using indexing
first_char = str1[0]
print("First Character:", first_char)
#print(str1[15]) results in Index out of range error

# String slicing to extract substrings
substring = str1[1:4] #starting index is inclusive and ending index is exclusive
print("Substring:", substring)

# Length of a string
str_length = len(str1)
print("Length of str1:", str_length)

# Check if a substring exists in a string
if "lo" in str1:
    print("Substring 'lo' found in str1")

# String repetition
repeated_str = str1 * 3
print("Repeated String:", repeated_str)

# String formatting - allows to embed expressions inside string literals using curly braces {}.
# When the string is evaluated, the expression is replaced with the value
name = "Alice"
age = 30
formatted_str = f"My name is {name} and I am {age} years old."
print("Formatted String:", formatted_str)

# String methods
uppercase_str = str1.upper()
print("Uppercase String:", uppercase_str)

lowercase_str = str2.lower()
print("Lowercase String:", lowercase_str)

# Splitting a string into a list
sentence = "This is a sample sentence."
words = sentence.split(" ")
print("Split Sentence:", words)

Concatenated Strings are:
HelloWorld
Hello, World
First Character: H
Substring: ell
Length of str1: 5
Substring 'lo' found in str1
Repeated String: HelloHelloHello
Formatted String: My name is Alice and I am 30 years old.
Uppercase String: HELLO
Lowercase String: world
Split Sentence: ['This', 'is', 'a', 'sample', 'sentence.']

## Conditional Logic

Python uses conditional statements to control the flow of a program:

if: Executes a block of code if a condition is True.

elif: Short for "else if," it is used to check additional conditions.

else: Executes a block of code if none of the previous conditions are True.

In [ ]:
# Example
age = 20

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

## Logical Operators

and: Returns True if both conditions are True.


 Truth Table for and operator

 | A     | B     | A and B |
|-------|-------|---------|
| True  | True  | True    |
| True  | False | False   |
| False | True  | False   |
| False | False | False   |

or: Returns True if at least one condition is True.

Truth table for or operator

| A     | B     | A or B |
|-------|-------|---------|
| True  | True  | True    |
| True  | False | True   |
| False | True  | True   |
| False | False | False   |

not: Reverses the condition.

| A     | not A |
|-------|-------|
| True  | False |
| False | True  |

In [ ]:
# Example
x = 5
y = 10

if x > 0 and y > 0:
    print("Both x and y are positive.")

Both x and y are positive.

Exercise

Write a Python program to create a virtual coin toss predictor. Follow the instructions below:

- Import the random module to simulate a coin toss.

- Use random.choice([0, 1]) to represent the outcome of the coin toss, where 0 represents tails and 1 represents heads.

- Prompt the user to enter their prediction for the coin toss. Ensure the input is in lowercase.

- Utilize binary boolean operators to compare the user's prediction with the simulated coin toss:

  - If the user predicts "heads" and the coin toss is 1, or
  - If the user predicts "tails" and the coin toss is 0.
- Display the appropriate message based on the correctness of the prediction:

  - If the prediction is correct, print "Congratulations! You predicted correctly."
  - If the prediction is incorrect, print "Sorry, your prediction is incorrect."

#Comparison Operators

Comparison operators, also called relational operators, compare two values and evaluate down to a single Boolean value. Table below lists the comparison operators.

| Operator | Description            | Example           |
|----------|------------------------|-------------------|
| `==`     | Equal                  | `x == y`          |
| `!=`     | Not equal              | `x != y`          |
| `<`      | Less than              | `x < y`           |
| `>`      | Greater than           | `x > y`           |
| `<=`     | Less than or equal to  | `x <= y`          |
| `>=`     | Greater than or equal to | `x >= y`         |

In [ ]:
# Equal (==)
x = 5
y = 5
print(x == y)  # Output: True

# Not equal (!=)
a = 10
b = 20
print(a != b)  # Output: True

# Less than (<)
m = 15
n = 20
print(m < n)   # Output: True

# Greater than (>)
p = 25
q = 15
print(p > q)   # Output: True

# Less than or equal to (<=)
r = 30
s = 30
print(r <= s)  # Output: True

# Greater than or equal to (>=)
u = 35
v = 30
print(u >= v)  # Output: True

Exercise

Imagine a game where you (the user) and the computer each roll a six-sided die, and the player with the higher roll wins. If both players roll the same number, it's a tie. Write Python code to simulate this game:

- Prompt the user to input their roll (assume the range is 1 to 6).
- Use the random module to generate a random number representing the computer's roll.
- Print the results of the user's and computer's rolls.
- Compare the rolls and print the result:
- If the user has a higher roll, print "You win!"
- If the computer has a higher roll, print "Computer wins!"
- If both the user and computer have the same roll, print "It's a tie!"

## Input

Using input()

Programming Construct: User Input

In [ ]:
# Get user input and store it in a variable
user_name = input("Enter your name: ")

# Display a message using the user's input
print("Hello, " + user_name + "!")

# You can also directly use the input without storing it in a variable
user_age = input("Enter your age: ")

# Remember that input() returns a string, so if you need to work with numbers, convert it
user_age = int(user_age)

# Perform some operations with the user's age
next_age = user_age + 1
print("In the next year, you will be " + str(next_age) + " years old.")

#Evaluates an expression and prints the results
print((4+8)/3)

Enter your name: Abc
Hello, Abc!
Enter your age: 23
In the next year, you will be 24 years old.
4.0

Exercise

1. Develop a program that takes the user's favorite color and animal as input, then prints a message like "Your favorite color is [color], and your favorite animal is [animal]."

2. Create a program that takes two numbers as input from the user, calculates their sum, and prints the result.

In [ ]:
#Program 1

In [ ]:
#Program 2

## Data Conversion or Type Casting

Type casting or data conversion allows you to change the data type of a variable.

In [ ]:
# Example 1: Converting String to Integer
str_number = "42"
int_number = int(str_number)  # Convert string to integer
print("Integer:", int_number)

Integer: 42

In [ ]:
# Example 2: Converting Integer to String
int_value = 123
str_value = str(int_value)  # Convert integer to string
print("String:", str_value)

String: 123

In [ ]:
# Example 3: Converting Float to Integer
float_number = 3.14
int_from_float = int(float_number)  # Convert float to integer (truncates decimal part)
print("Integer from Float:", int_from_float)

Integer from Float: 3

In [ ]:
# Example 4: Converting Integer to Float
int_value = 42
float_from_int = float(int_value)  # Convert integer to float
print("Float from Integer:", float_from_int)

Float from Integer: 42.0

In [ ]:
# Example 5: Converting Integer to Boolean
value = 0
bool_value = bool(value)  # Convert integer to boolean (0 becomes False, non-zero becomes True)
print("Boolean from Integer:", bool_value)

Boolean from Integer: False

Write a Python program to convert temperatures between Celsius and Fahrenheit.

Use the formula:

- Celsius to Fahrenheit: F = C * 9/5 + 32
- Fahrenheit to Celsius: C = (F - 32) * 5/9
1. Prompt the user to enter a temperature and specify the unit (Celsius or Fahrenheit).

2. Use type casting to convert the entered temperature to a numerical value.

3. Use binary boolean operators to check if the entered unit is Celsius or Fahrenheit.

4. Convert the temperature to the other unit using the appropriate formula.

5. Print the converted temperature along with the original unit and the converted unit.